* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Top link */
.top-link {
    background: #eee;
    padding: 10px 20px;
}

.top-link a {
    text-decoration: none;
    color: red;
    font-size: 14px;
}

/* Hero Section */
.hero {
    background: #e50914;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    flex-wrap: wrap;
}

.hero-left {
    max-width: 500px;
}

.hero-left h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-left p {
    font-size: 16px;
    line-height: 1.6;
}

.hero-right img {
    width: 150px;
}

/* Cards Section */
.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 300px;
    padding: 40px;
    background: #8b0000;
    color: white;
    border-right: 2px solid red;
}

.card:last-child {
    border-right: none;
}

.card h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.card p {
    font-size: 14px;
    line-height:4;
}

/* Responsive */
@media (max-width: 768px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-right {
        margin-top: 30px;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        border-right: none;
        border-bottom: 2px solid red;
    }

    .card:last-child {
        border-bottom: none;
    }
}
