*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.parent
{
   width:900px;
    height:930px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /* make parent gridd contaainer */
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    /* gap:10px; */
}
.child1
{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #f0e9e9;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 15px 15px 0px 15px;
}

.child1 h4{
 font-size: medium;
 padding-bottom: 10px;
 color: #a39f9f;

}
.left
{
    padding:20px;
}
.child1 h2
{
   padding-bottom: 15px;
}
.child1 p{
    font-size: small;
    color: #a39f9f;
}
.child1 img
{
    padding-bottom:0;
}
.child2
{
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: #a39f9f;
    padding: 30px 60px 30px 60px;
}
.child2 h4
{
    color: #524545;
    font-size: medium;
    text-align: center;
    padding-bottom: 10px;

}
.child2 h2{
    text-align: center;
    padding: 20px 40px 30px 40px;
}
.child2 a{
    display: block;
    text-align: center;
    text-decoration: none;
}

.child3
{
    grid-column: 1/2;
    grid-row:2/3;
    background-color: #ea553f;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.child3 img{
   height: 100px;
   
}
.child3 h2{
    padding: 10px;
    text-align: center;
    color: white;

}
.child3 a
{
    text-decoration: none;
    color: #b2bf25;
    display: block;
    text-align: center;
    padding: 10px 10px 30px 10px;
}
.child4
{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: #f0e9e9;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding: 30px 30px 0px 30px;
}
.child4-left img{
    width: 100px;
    padding-top: 10px;
    align-items: center;

}
.child4-left h1{
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
}
.child4-left h4{
    text-align: center;
    color: #a39f9f;
}
.child4-right
{
    padding-left: 60px;
}
.child4-right p
{
    color: #a39f9f;
    padding: 10px 0px 20px 0px;
}
.child4-right a{
    text-decoration: none;
    color: #ea553f;
    display: block;
    text-align: center;
}
.child5
{
    grid-column: 4/5;
    grid-row: 2/4;
    background-color: #8c7bc2;
    display: flex;
    flex-direction: column;
    
}
.child5 img{
    padding-bottom: 20px;

}
.child5 h2{
    text-align: center;
    color: #f1f8f9;
    padding-bottom: 20px;

}
.child5 p{
    text-align: center;
    padding: 10px;
    color: white;

}
.child5 button{
    display: block;
    margin: auto;
    width: 120px;
    background-color: #b2bf25;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid black;
}
.child6{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.child6 img
{
    width:100%;
    height: 60%;

}
.child6 h2{
    text-align: center;
    padding-bottom: 10px;
}
.child6 a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #32bcce;
}
.child7
{
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: #8bb2b7;
    display: flex;
    flex-direction: column;
    flex-direction: wrap;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
}
.child7 button
{
    width: 100px;
    align-content: left;
    border-style: none;
    background-color: #d48535;
    border-radius: 20px;
    padding: 2px;
    color: #f1f8f9;
}
.child7 h2{
    text-align: center;
    color: #ffffff;
}