*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#edf2f8;
  padding:40px;
}

/* GRID */
.container{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:20px;
}

/* CARD BASE */
.card{
  padding:25px;
  border-radius:12px;
  color:white;
}

/* PROFILE */
.profile{
  display:flex;
  align-items:center;
  gap:15px;
  margin-bottom:15px;
}

.profile img{
  width:40px;
  height:40px;
  border-radius:50%;
  object-fit:cover;
}

.profile h3{
  font-size:15px;
}

.title{
  font-size:12px;
  opacity:0.7;
}

/* TEXT */
.card h2{
  font-size:18px;
  margin:15px 0;
}

.desc{
  font-size:14px;
  opacity:0.8;
  line-height:1.5;
}

/* COLORS + GRID SPAN */
.card1{
  background:#7541c8;
  grid-column: span 2;
}

.card2{
  background:#48556a;
}

.card3{
  background:#ffffff;
  color:#333;
  grid-row: span 2;
}

.card4{
  background:#ffffff;
  color:#333;
}

.card5{
  background:#19212e;
  grid-column: span 2;
}

/* RESPONSIVE */

@media(max-width: 990px){
  .container{
    grid-template-columns: repeat(2, 1fr);
  }

  .card1,
  .card5{
    grid-column: span 2;
  }

  .card3{
    grid-row: span 1;
  }
}

/* Mobile */
@media(max-width: 600px){
  .container{
    grid-template-columns: 1fr;
  }

  .card1,
  .card5{
    grid-column: span 1;
  }
}
